body {
	font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
    margin: auto;
    
    a {
        font-family: Myriad Pro, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
}

#nav {
    background-color: #ffffff;
    border-bottom: 3px solid #F15A22;
    padding-left: 90px;
    padding-right: 20px;
    
    .container {
        padding-top: 25px;
        height: 55px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
        max-height: 55px;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 5px;
        margin-bottom: 16px;
        margin-right: 70px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #ffffff;
        border-bottom: 5px solid #008EB0;
        height: 25px;
        
    }
}


.jumbotron {
    min-height: 780px;
    background-image: url(../img/498375904.jpg);
    background-size: cover;
    background-position-y: -140px;
    
    .container {
        max-width: inherit;
        margin-left: 330px;
        padding-top: 100px;
    }
}

h1 {
    font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: 80px;
    color: #ffffff;
    margin: auto;
    text-shadow: 2px 2px 5px grey;
}

h2 {
    font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: 26px;
    color: #ffffff;
    text-shadow: 2px 2px 5px grey;
    margin: auto;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #333333;
	padding: 10px;
	color: #ffffff;
	padding-left: 70px;
	padding-right: 70px;

    .links {
        float: right;
        text-align: left;
        width: 25%;
    } 
    
    .contacts {
        float: right;
        text-align: left;
        width: 25%;
    }

    .copyright {
        float: left;
    }
}

.logo {
    float: left;
}





